/* Digital sound as an alternative solution to handle insomnia! - small screen */
body {
	min-width: 0;
}
#header {
	padding: 20px 0;
	position: relative;
	width: 100%;
}

#mobile-navigation {
	background: url(../images/mobile-menu.png) no-repeat 0 0;
	display: block;
	height: 50px;
	margin: 30px auto 0;
	padding: 0;
	width: 50px;
}
#header ul {
	border: 1px solid #fff;
	display: none;
	left: 50%;
	margin-left: -45%;
	padding: 0;
	position: absolute;
	width: 90%;
	z-index: 1001;
}
#header ul li {
	border-top: 1px solid #fff;
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
}
#header > ul > li:first-child {
	border: 0;
}
#header ul li a {
	background: rgba(11, 163, 156, 0.9);
	color: #fff;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	height: 49px;
	line-height: 49px;
	padding: 0 15px;
	text-align: left;
}
#header ul li a:hover, #header ul li.selected a {
	background: rgba(0, 0, 0, 0.9);
	color: #fff;
}
#header ul ul {
	display: none;
	border: 0;
	height: auto;
	left: 0;
	margin: 0;
	position: relative;
	width: 100%;
}
#header ul ul li a {
	text-indent: 15px;
}
#header ul li span {
	background: rgba(11, 163, 156, 0.9) url(../images/mobile-expand.png) no-repeat 0 0;
	border-left: 1px solid #fff;
	display: block;
	height: 49px;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
}
#body {
	width: 100%;
}
#body h1 {
	display: block;
	font-size: 20px;
	margin: 0 auto;
	width: 90%;
}
#body h1 span {
	display: block;
	padding: 3%;
	width: 94%;
}
#body > div {
	padding: 0 5%;
	width: 90%;
}
#body > div img {
	margin: 24px 0 30px;
	width: 98%
}
#body > div .article {
	padding: 0;
	width: 100%;
}
#body > div .article h2, #body > div .article h4 {
	font-size: 18px;
	font-weight: bold;
}
#body #featured {
	overflow: hidden;
	margin: 0 0 20px
}
#body #featured img {
	min-width: 960px;
}
#body #featured div {
	left: 0;
	margin: 0;
	padding: 0 2%;
	position: absolute;
	top: 0;
	text-align: left;
	width: 96%;
}
#body #featured div h2 {
	font-size: 14px;
	font-weight: normal;
	margin: 50px 0 10px;
	padding: 8px 5px;
}
#body #featured div span {
	display: block;
	font-size: 14px;
	margin: 10px 0;
	padding: 10px;
}
#body #featured div a {
	font-size: 14px;
	margin: 5px 0 0;
	padding: 10px;
}
#body > ul {
	overflow: visible;
	padding: 0 5%;
	width: 90%;
}
#body ul.gallery {
	padding: 5% 0;
	overflow: hidden;
	width: 100%;
}
#body > ul li {
	float: none;
	margin: 0;
	width: 100%;
}
#body ul.gallery li {
	float: left;
	margin: 0 0 5% 5%;
	width: 42%;
}
#body > ul li a img {
	width: 98%;
}
#body > ul li a span {
	padding: 15px 0;
}
#body div ul {
	margin: 0;
	padding: 20px 0 0;
	width: 100%;
}
#body div ul li {
	overflow: visible;
	padding: 0 0 20px;
	width: 99%;
}
#body div ul li .figure {
	border: 0;
	display: block;
	float: none;
	margin: 0 0 20px;
	width: 100%;
}
#body div ul li .figure img {
	width: 100%;
}
#body div ul li div {
	float: none;
	padding: 0;
	width: 100%;
}
#body div ul li div a.more:hover {
	height: 14px;
	line-height: 14px;
}
#body form {
	width: 100%;
}
#body form input, #body form textarea {
	margin: 0 0 20px;
	padding: 10px;
	width: 84%;
}
#body form #send {
	padding: 10px;
}

#body #hellothere {
	background: #08092d;
	color: #fff;
	font-family: "Times New Roman", Times, serif;
	display: block;
	font-size: 16px;
	margin: 15px 0 0;
	padding: 26px 27px 22px;
	text-align: left;
	text-decoration: none;
	width: 94%;
}

#body #hellothere > p {
	color: #fff;
	font-size: 16px;
	line-height: 1.2;
}


#body {
	margin: 0;
	padding: 0 0 30px;
	text-align: center;
	
}
#body #featured1 {
	margin: 0 0 13px;
	padding: 0;
	position: relative;
	width: 100%;
	
}
#body #featured1 img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	z-index: -1;
}

#body #featured1 h1 {
	position: absolute;
	top: 2%;
	left: 0%;
	color: #fff;
	display: inline;
	font-family: "Times New Roman", Times, serif;
	font-size: 45px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#body #featured1 h1 span {
	background: #252525;
	display: inline-block;
	width: 100%
	padding: 15px 28px 12px;
}
#body #featured1 > div {
	position: absolute;
	top: 15%;
	left: 4%;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	heigth: auto;
	
}
#body #featured1 > div img {
	border: 2px solid #292929;
	margin: 0;
	padding: 0;
	
}

#body #featured1 > div .article {
	background: #fbeedc;
	display: inline-block;
	left: 4%;
	margin: 0 auto;
	padding: 30px 40px 0;
	width: 85%;
	
}

#body #featured1 > div .article h2 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0 0 30px;
}
#body #featured1 > div .article h3 {
	text-align: left;
	color: #252525;
	line-height: 24px;
	font-size: 22px;
	margin: 0;
	padding: 0;
}

#body #featured1 > div .article h4 a {
	background: #252525;
	color: #fff;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 10px;
	padding: 10px 10px 10px;
}

#body #featured1 > div .article p {
	font-family: "Times New Roman", Times, serif;
	text-align: left;
	font-size: 18px;
	margin: 10px 5px 5px;
}


#body #featured1 > div .article dt{
	font-family: "Times New Roman", Times, serif;
	text-align: left;
	font-size: 18px;
	margin: 5px 20px 5px;
	

}

#body #featured1 > div .article dd{
	font-family: "Times New Roman", Times, serif;
	text-align: left;
	font-size: 18px;

}


#body #featured1 div > .article img {
	height: 280px;
	width: auto;
	float: right;
	margin: 0 0 15px;
}

#footer {
	padding: 10px 0 25px;
}
#footer div {
	overflow: visible;
	width: 100%;
}
#footer div p {
	float: none;
	margin: 0;
	text-align: center;
}
#footer div ul {
	float: none;
	margin: 0 auto;
	width: 256px;
}
